<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Collab | Dashboard</title>
    <!-- website's icon -->
    <link rel="shortcut icon" href="<%=process.env.BASE_URL%>/images/cLogo.png" />



    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/css/libs.min.css">
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/css/socialv.css?v=4.0.0">
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/vendor/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/vendor/vanillajs-datepicker/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/vendor/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet"
        href="<%=process.env.BASE_URL%>/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' rel='stylesheet'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 260px;
            background: #fff;
            z-index: 100;
            transition: all 0.5s ease;
        }

        .sidebar.close {
            width: 78px;
        }

        .sidebar .logo-details {
            height: 60px;
            width: 100%;
            display: flex;
            align-items: center;
        }

        .sidebar .logo-details i {
            font-size: 30px;
            height: 55px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
        }

        .sidebar .logo-details .logo_name {
            font-size: 22px;
            color: #000;
            font-weight: 600;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }

        .sidebar.close .logo-details .logo_name {
            transition-delay: 0s;
            opacity: 0;
            pointer-events: none;
        }

        .sidebar .nav-links {
            height: 100%;
            padding: 30px 0 0 0;
            overflow: auto;
        }

        .sidebar.close .nav-links {
            overflow: visible;
        }

        .sidebar .nav-links::-webkit-scrollbar {
            display: none;
        }

        .sidebar .nav-links li {
            position: relative;
            list-style: none;
            transition: all 0.4s ease;
        }

        .sidebar .nav-links li .iocn-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .sidebar.close .nav-links li .iocn-link {
            display: block
        }

        .sidebar .nav-links li i {
            height: 60px;
            min-width: 78px;
            text-align: center;
            line-height: 60px;
            color: #000;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .sidebar .nav-links li.showMenu i.arrow {
            transform: rotate(-180deg);
        }

        .sidebar.close .nav-links i.arrow {
            display: none;
        }

        .sidebar .nav-links li a {
            display: flex;
            align-items: center;
            text-decoration: none;
        }

        .sidebar .nav-links li a .link_name {
            font-size: 18px;
            font-weight: 400;
            color: #000;
            transition: all 0.4s ease;
        }

        .sidebar.close .nav-links li a .link_name {
            opacity: 0;
            pointer-events: none;
        }

        .sidebar .nav-links li .sub-menu {
            padding: 6px 6px 14px 80px;
            margin-top: -10px;
            background: #fff;
            display: none;
        }

        .sidebar .nav-links li.showMenu .sub-menu {
            display: block;
        }

        .sidebar .nav-links li .sub-menu a {
            color: #000;
            font-size: 15px;
            padding: 5px 0;
            white-space: nowrap;
            opacity: 0.6;
            transition: all 0.3s ease;
        }

        .sidebar .nav-links li .sub-menu a:hover {
            opacity: 1;
            color: #8759F2;
        }

        .sidebar.close .nav-links li .sub-menu {
            position: absolute;
            left: 100%;
            top: -10px;
            margin-top: 0;
            padding: 10px 20px;
            border-radius: 0 6px 6px 0;
            opacity: 0;
            display: block;
            pointer-events: none;
            transition: 0s;
        }

        .sidebar.close .nav-links li:hover .sub-menu {
            top: 0;
            opacity: 1;
            pointer-events: auto;
            transition: all 0.4s ease;
        }

        .sidebar .nav-links li .sub-menu .link_name {
            display: none;
        }

        .sidebar.close .nav-links li .sub-menu .link_name {
            font-size: 18px;
            opacity: 1;
            display: block;
        }

        .sidebar .nav-links li .sub-menu.blank {
            opacity: 1;
            pointer-events: auto;
            padding: 3px 20px 6px 16px;
            opacity: 0;
            pointer-events: none;
        }

        .sidebar .nav-links li:hover .sub-menu.blank {
            top: 50%;
            transform: translateY(-50%);
        }

        .sidebar .profile-details {
            position: fixed;
            bottom: 0;
            width: 260px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 0;
            transition: all 0.5s ease;
        }

        .sidebar.close .profile-details {
            background: none;
        }

        .sidebar.close .profile-details {
            width: 78px;
        }

        .sidebar .profile-details .profile-content {
            display: flex;
            align-items: center;
        }

        .sidebar .profile-details .profile_name,
        .sidebar .profile-details .job {
            color: #000;
            font-size: 18px;
            font-weight: 500;
            white-space: nowrap;
        }

        .sidebar.close .profile-details i,
        .sidebar.close .profile-details .profile_name,
        .sidebar.close .profile-details .job {
            display: none;
        }

        .sidebar .profile-details .job {
            font-size: 12px;
        }

        .home-section {
            position: relative;
            background: #E4E9F7;
            padding-bottom: 60px;
            height: 100%;
            left: 260px;
            width: calc(100% - 260px);
            transition: all 0.5s ease;
        }

        .sidebar.close~.home-section {
            left: 78px;
            width: calc(100% - 78px);
        }

        .home-section .home-content {
            height: 60px;
            display: flex;
            align-items: center;
        }

        .home-section .home-content .bx-menu,
        .home-section .home-content .text {
            color: #000;
            font-size: 35px;
        }

        .home-section .home-content .bx-menu {
            margin: 0 15px;
            margin-top: 50px;
            cursor: pointer;
        }

        .home-section .home-content .text {
            font-size: 26px;
            font-weight: 600;
        }

        @media (max-width: 420px) {
            .sidebar.close .nav-links li .sub-menu {
                display: none;
            }
        }

        .mininav-links {
            display: flex;
            align-items: center;
            background: #fff;
            padding: 10px 10px;
            border-radius: 12px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }

        .mininav-links li {
            list-style: none;
            margin: 0 15px;
        }

        .mininav-links li a {
            position: relative;
            color: #333;
            font-size: 20px;
            font-weight: 500;
            padding: 6px 0;
            text-decoration: none;
        }

        .mininav-links a:hover {
            color: #8759F2;
        }

        .mininav-div {
            padding-top: 40px;
            margin: 0 0 0 auto;
            padding-right: 20px;
            padding-top: 60px;
            width: 100%;
        }


        .button {
            display: inline-block;
            font-size: 10px;
            line-height: 50px;
            text-align: end;
            text-decoration: none;
            cursor: pointer;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .button:hover {
            transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
            -o-transition-duration: 0.4s;
        }

        .search-container {
            position: relative;
            display: inline-block;
            height: 50px;
            width: 50px;
            vertical-align: bottom;
        }

        .mglass {
            display: inline-block;
            pointer-events: none;
        }

        .searchbutton {
            position: absolute;
            font-size: 20px;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .search:focus+.searchbutton {
            transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
            -o-transition-duration: 0.4s;
        }

        .search {
            position: absolute;
            left: 49px;
            outline: none;
            border: none;
            padding: 0;
            width: 0;
            height: 100%;
            z-index: 10;
            transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
            -o-transition-duration: 0.4s;
        }

        .search:focus {
            border: 2px solid #8759F2;
            border-radius: 10px;
            width: 363px;
            /* Bar width+1px */
            padding: 0 16px 0 0;
        }

        .expandright {
            left: auto;
            right: 49px;
        }

        .expandright:focus {
            padding-right: 10px;
            padding-left: 10px;
        }


        .chart-div {
            height: 100%;
            border-radius: 15px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }

        .notes-div {
            margin-top: 50px;
        }



        h2 {
            font-weight: bold;
            font-size: 25px;
            font-family: 'Poppins', sans-serif;
        }

        .notes-div ul,
        .notes-div li {
            list-style: none;
        }

        .notes-div ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .notes-div ul .notes-div li,
        .notes-div a {
            text-decoration: none;
            color: #000;
            background: #ffc;
            display: block;
            height: 17em;
            width: 20em;
            padding: 1em;
            box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
            transform: rotate(-5deg);
            transition: transform .15s linear;
        }

        .notes-div ul,
        .notes-div li {
            margin: 1em;
        }

        .iq-card {
            font-size: 15px;
            height: 100%;
            background-color: #fff;
            border-radius: 15px;
            padding: 40px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }

        .iq-timeline {

            margin: 0 0 0 5px;
            padding: 0;
            width: 100%;
            border-left: 3px solid #f2edff;
        }

        .iq-timeline li {
            margin-left: 15px;
            position: relative;
            padding: 15px 15px 0 5px;
            list-style-type: none;
        }

        .iq-timeline li .timeline-dots {
            position: absolute;

            top: 20px;
            left: -24px;
            border: 3px solid #0084ff;
            border-radius: 90px;
            padding: 5px;
            background: #fff;
        }

        .progress {
            margin: 0 0 0 auto;
            margin-top: 30px;
        }

        .project-name {
            margin: 0 0 0 auto;
            margin-top: 19px;
            font-size: 20px;
        }
    </style>
</head>

<body class=" ">
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>

    <% if (locals.error) { %>
        <div class="d-none" id="error-msg">
            <%= error %>
        </div>
        <% } %>
            <div id="message-wrap" class="position-fixed bottom-0 end-0 p-3 pb-5 mb-5 me-5" style="z-index: 11;">
                <div class="toast align-items-center text-white border-0" role="alert" aria-live="assertive"
                    aria-atomic="true" data-bs-delay="3000">

                </div>
            </div>
            <!-- loader END -->



            <div class="sidebar close" style="margin-top: 25px;">
                <div class="logo-details">
                    <i class='logo-pic'><img src="<%=process.env.BASE_URL%>/images/cLogo.png" style="height: 30px"></i>
                    <span class="logo_name" style="color: #4D4D4D; font-size: 30px;">Collab</span>
                </div>
                <ul class="nav-links">
                    <li>
                        <a href="#" style="border-left: 3px solid #8759F2;">
                            <i class='bx bx-grid-alt' style="color: #8759F2;"></i>
                            <span class="link_name" style="color: #8759F2;">Dashboard</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="/dashboard">Dashboard</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link community">
                            <a href="#">
                                <i class='bx bx-user'></i>
                                <span class="link_name">Community</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a class="link_name">Community</a></li>
                            <li><a href="/feed">Feed</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/message">Messages</a></li>
                            <li><a href="/api/teams">Teams</a></li>
                            <% if (user.role=='admin' ) { %>
                                <li><a href="/api/users/">Users</a></li>
                                <% } %>

                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link management">
                            <a href="#">
                                <i class='bx bx-book-alt'></i>
                                <span class="link_name">Management</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a class="link_name">Management</a></li>
                            <li><a href="/calendar">Calendar</a></li>
                            <li><a href="/api/tasks">Tasks</a></li>
                            <li><a href="/api/projects">Projects</a></li>
                            <li><a href="/api/companies">Companies</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class='bx bx-line-chart'></i>
                            <span class="link_name">Analytics</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#">Analytics</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/settings" class="settings">
                            <i class='bx bx-cog'></i>
                            <span class="link_name">Settings</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="#">Settings</a></li>
                        </ul>
                    </li>

                    <li>
                        <div class="profile-details">
                            <a href="/api/users/logout" class="nav-link active"><i class='bx bx-log-out'></i></a>
                        </div>

                    </li>

                </ul>
            </div>
            <section class="home-section">
                <div class="home-content" style="margin-bottom: 70px; ">
                    <i class='bx bx-menu'></i>
                    <div class="mininav-div">

                        <ul class="mininav-links" style="width: 100%; margin: 0 auto; ">
                            <span class="text" style="padding: 15px; margin: 0 auto 0 0;">Hello, <%= user ? user.name
                                    : 'not user' %></span>

                            <li><a href="#">
                                    <div class="search-container">
                                        <form action="/search" method="get">
                                            <input class="search expandright" id="searchright" type="search" name="q"
                                                placeholder="Search">
                                            <label class="button searchbutton" for="searchright"><span class="mglass"><i
                                                        class='bx bx-search'></i></span></label>
                                        </form>
                                    </div>
                                </a>
                            </li>
                            <li><a href="#"><i class='bx bx-bell'></i></a></li>
                            <li><a href="#"><i class='bx bx-expand'></i></a></li>
                            <li><a href="/profile" class="profile"> <img src="<%= user ? user.picture : '' %>"
                                        style="height: 50px; border-radius: 50%; border: 2px solid #4d4d4d;"></a></li>
                            <li class="nav-item logout">
                                <a href="/api/users/logout" class="nav-link active">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
