<%- include('../partials/header') %>
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-body chat-page p-0">
                            <div class="chat-data-block">
                                <div class="row">
                                    <div class="col-lg-3 chat-data-left scroller">
                                        <div class="chat-search pt-3 pl-3">
                                            <div class="d-flex align-items-center">
                                                <div class="chat-profile mr-3">
                                                    <img src="<%= user ? user.picture : '' %>" alt="chat-user"
                                                        class="avatar-60 ">
                                                </div>
                                                <div class="chat-caption">
                                                    <h5 class="mb-0">
                                                        <%= user ? user.name : '' %>
                                                    </h5>
                                                    <p class="m-0">
                                                        <%= user ? user.title : '' %>
                                                    </p>
                                                </div>
                                                <button type="submit" class="close-btn-res p-3"><i
                                                        class="ri-close-fill"></i></button>
                                            </div>


                                        </div>
                                        <div class="chat-sidebar-channel scroller mt-4 pl-3">
                                            <ul class="iq-chat-ui nav flex-column nav-pills">
                                                <% chats.forEach(function(chat){ %>
                                                    <li>
                                                        <h6>From: <%= chat.sender %>
                                                        </h6>
                                                        <h6>To: <%= chat.receiver %>
                                                        </h6>
                                                        <h6>Message: <%= chat.message %>
                                                        </h6>
                                                        <h6>Date: <%= chat.createdAt %>
                                                        </h6>
                                                    </li>
                                                    <hr>
                                                    <% });%>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-9 chat-data p-0 chat-data-right">
                                        <div class="tab-content">

                                            <div class="tab-pane fade active show" id="default-block" role="tabpanel">

                                                <div class="chat-start">
                                                    <form class="mt-4" method="POST" action="/api/chats/create">
                                                        <div class="form-group">
                                                            <label class="form-label" for="receiver">Send To
                                                                (username)</label>
                                                            <input type="text" name="receiver" class="form-control mb-0"
                                                                id="receiver" placeholder="Send To" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label" for="message">Message</label>
                                                            <input type="text" name="message" class="form-control mb-0"
                                                                id="message" placeholder="Message" required>
                                                        </div>
                                                        <div class="d-inline-block w-100">
                                                            <button type="submit" class="btn btn-primary float-end"><i
                                                                    class="ri-message-3-line"></i>Send
                                                                Message</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addChatModal" tabindex="-1" role="dialog" aria-labelledby="addnotesmodalTitle"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title text-white">Add Tasks</h5>
                </div>
                <div class="modal-body">
                    <div class="notes-box">
                        <div class="notes-content">
                            <form class="mt-4" method="POST" action="/api/tasks/create">
                                <div class="form-group">
                                    <label class="form-label" for="title">Task Title</label>
                                    <input type="text" name="title" class="form-control mb-0" id="title"
                                        placeholder="Title" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="description">Task
                                        Description</label>
                                    <input type="text" name="description" class="form-control mb-0" id="description"
                                        placeholder="Description" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="description">Task
                                        Team</label>
                                    <input type="text" name="team" class="form-control mb-0" id="team"
                                        value="<%= user.team %>" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="description">Task
                                        Company</label>
                                    <input type="text" name="company" class="form-control mb-0" id="company"
                                        value="<%= user.company %>" disabled>
                                </div>
                                <div class="d-inline-block w-100">
                                    <button type="submit" class="btn btn-primary float-end">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('../partials/footer') %>
