<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Collab | Login</title>

    <link rel="shortcut icon" href="<%=process.env.BASE_URL%>/images/cLogo.png" />
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/css/libs.min.css">
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/css/collab.css?v=4.0.0">
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/vendor/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/vendor/vanillajs-datepicker/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="<%=process.env.BASE_URL%>/vendor/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet"
        href="<%=process.env.BASE_URL%>/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">

</head>

<body class=" ">
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>

    <% if (locals.error) { %>
        <div class="d-none" id="error-msg">
            <%= error %>
        </div>
        <% } %>
            <div id="message-wrap" class="position-fixed bottom-0 end-0 p-3 pb-5 mb-5 me-5" style="z-index: 11;">
                <div class="toast align-items-center text-white border-0" role="alert" aria-live="assertive"
                    aria-atomic="true" data-bs-delay="3000">

                </div>
            </div>
            <!-- loader END -->

            <div class="col-md-6 pt-5 pt-5 pb-lg-0 pb-5">
                <div class="sign-in-from">
                    <h1 class="mb-0">Sign in</h1>
                    <p>Enter your email address and password to access admin panel.</p>
                    <form class="mt-4" method="POST" action="/api/users/login">
                        <div class="form-group">
                            <label class="form-label" for="email">Email address</label>
                            <input type="email" name="email" class="form-control mb-0" id="email"
                                placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Password</label>
                            <a href="#" class="float-end">Forgot password?</a>
                            <input type="password" name="password" class="form-control mb-0" id="password"
                                placeholder="Password" required>
                        </div>
                        <div class="d-inline-block w-100">
                            <div class="form-check d-inline-block mt-2 pt-1">
                                <input type="checkbox" class="form-check-input" id="customCheck11">
                                <label class="form-check-label" for="customCheck11">Remember Me</label>
                            </div>
                            <button type="submit" class="btn btn-primary float-end">Sign in</button>
                        </div>
                        <div class="sign-info">
                            <ul class="iq-social-media">
                                <li><a href="#"><i class="ri-facebook-box-line"></i></a></li>
                                <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>



            <%- include('../partials/footer') %>
