<%- include('../partials/header') %>

    <% if (locals.error) { %>
        <div class="d-none" id="error-msg">
            <%= error %>
        </div>
        <% } %>
            <div id="message-wrap" class="position-fixed bottom-0 end-0 p-3 pb-5 mb-5 me-5" style="z-index: 11;">
                <div class="toast align-items-center text-white border-0" role="alert" aria-live="assertive"
                    aria-atomic="true" data-bs-delay="3000">

                </div>
            </div>
            <div>

                <div class="card">
                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
                        Teams
                    </h3>
                    <div class="card-body">

                        <div id="table" class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Users</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form action="/api/teams/create" method="POST">
                                        <tr>
                                            <td><input type="text" name="title" /></td>
                                            <td><input type="text" name="description" /></td>
                                            <td><input type="text" name="users" /></td>
                                            <td> <span><button type="submit"
                                                        class="btn btn-success btn-rounded btn-sm my-0">Create
                                                        New</button></span>
                                            </td>
                                        </tr>
                                    </form>
                                    <% teams.forEach(function(team){ %>
                                        <form action="/api/teams/update/<%= team._id%>" method="POST">
                                            <tr>
                                                <td>
                                                    <input type="text" name="title" value="<%= team.title %>" />
                                                </td>
                                                <td>
                                                    <input type="text" name="description"
                                                        value="<%= team.description %>" />
                                                </td>
                                                <td>
                                                    <input type="text" name="users" value="<%= team.users %>" />
                                                </td>

                                                <td>
                                                    <button type="submit"
                                                        class="btn btn-primary btn-rounded btn-sm my-0">Save</button></span>
                                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                                                        onclick="makeDELETErequest('<%= team._id %>')">Delete</button></span>
                                                </td>
                                            </tr>
                                        </form>




                                        <% }); %>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <script>
                function makeDELETErequest(id) {
                    $.ajax({
                        url: `<%=process.env.BASE_URL%>/api/teams/delete/${id}`,
                        type: 'DELETE',
                        success: function (result) {
                            alert(result)
                            window.location.reload();
                        },
                        error: function (result) {
                            alert(result.responseText)
                            window.location.reload();
                        },
                    });
                }
            </script>


            <%- include('../partials/footer') %>
