<%- include('../partials/header') %>
    <div>



        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
                Users
            </h3>
            <div class="card-body">

                <div id="table" class="table-editable">
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Title</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Picture</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td contenteditable="true"> </td>
                                <td contenteditable="true"> </td>
                                <td contenteditable="true"> </td>
                                <td contenteditable="true"> </td>
                                <td contenteditable="true"> </td>
                                <td contenteditable="true"> </td>
                                <td contenteditable="true"> </td>
                                <td contenteditable="true"> <span class="table-remove"><button type="button"
                                            class="btn btn-success btn-rounded btn-sm my-0">Create
                                            New</button></span>
                                </td>
                            </tr>
                            <% users.forEach(function(user){ %>
                                <tr class="">
                                    <td contenteditable="true">
                                        <%= user.name %>
                                    </td>
                                    <td contenteditable="true">
                                        <%= user.title %>
                                    </td>
                                    <td contenteditable="true">
                                        <%= user.email %>
                                    </td>
                                    <td contenteditable="true">
                                        <%= user.phone %>
                                    </td>
                                    <td contenteditable="true">
                                        <%= user.picture %>
                                    </td>
                                    <td contenteditable="true">
                                        <%= user.username %>
                                    </td>
                                    <td contenteditable="true">
                                        <%= user.role %>
                                    </td>

                                    <td>
                                        <span class="table-remove"><button type="button"
                                                class="btn btn-primary btn-rounded btn-sm my-0">Save</button></span>
                                        <span class="table-remove"><button type="button"
                                                class="btn btn-danger btn-rounded btn-sm my-0">Delete</button></span>
                                    </td>
                                </tr>
                                <% }); %>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>





    </section>


    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
    <script>
        $(document).ready(function () {
            all_notes = $("li a");

            all_notes.on("keyup", function () {
                note_title = $(this).find("h2").text();
                note_content = $(this).find("p").text();

                item_key = "list_" + $(this).parent().index();

                data = {
                    title: note_title,
                    content: note_content
                };

                window.localStorage.setItem(item_key, JSON.stringify(data));
            });

            all_notes.each(function (index) {
                data = JSON.parse(window.localStorage.getItem("list_" + index));

                if (data !== null) {
                    note_title = data.title;
                    note_content = data.content;

                    $(this).find("h2").text(note_title);
                    $(this).find("p").text(note_content);
                }
            });
        });


    </script>
    <script src="<%=process.env.BASE_URL%>/js/jquery.min.js"></script>
    <script src="<%=process.env.BASE_URL%>/js/popper.min.js"></script>
    <script src="<%=process.env.BASE_URL%>/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/waypoints.min.js"></script>
    <script src="<%=process.env.BASE_URL%>/js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/apexcharts.js"></script>
    <!-- Slick JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/smooth-scrollbar.js"></script>
    <!-- lottie JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/lottie.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/chart-custom.js"></script>
    <!-- Custom JavaScript -->
    <script src="<%=process.env.BASE_URL%>/js/custom.js"></script>
    </body>

    </html>
