<%- include('../partials/header') %>

    <% if (locals.error) { %>
        <div class="d-none" id="error-msg">
            <%= error %>
        </div>
        <% } %>
            <div id="message-wrap" class="position-fixed bottom-0 end-0 p-3 pb-5 mb-5 me-5" style="z-index: 11;">
                <div class="toast align-items-center text-white border-0" role="alert" aria-live="assertive"
                    aria-atomic="true" data-bs-delay="3000">

                </div>
            </div>
            <div>

                <div class="card">
                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
                        Users
                    </h3>
                    <div class="card-body">

                        <div id="table" class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Title</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Picture</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form action="/api/users" method="POST">
                                        <tr>
                                            <td><input type="text" name="name" /></td>
                                            <td><input type="text" name="title" /></td>
                                            <td><input type="text" name="email" /></td>
                                            <td><input type="text" name="phone" /></td>
                                            <td><input type="text" name="picture" /></td>
                                            <td><input type="text" name="username" /></td>
                                            <td><input type="text" name="role" /></td>
                                            <td> <span><button type="submit"
                                                        class="btn btn-success btn-rounded btn-sm my-0">Create
                                                        New</button></span>
                                            </td>
                                        </tr>
                                    </form>
                                    <% users.forEach(function(user){ %>

                                        <form>
                                            <tr>
                                                <td>
                                                    <input type="text" name="name" value="<%= user.name %>" />
                                                </td>
                                                <td>
                                                    <input type="text" name="title" value="<%= user.title %>" />
                                                </td>
                                                <td>
                                                    <input type="text" name="email" value="<%= user.email %>" />
                                                </td>
                                                <td>
                                                    <input type="text" name="phone" value="<%= user.phone %>" />
                                                </td>
                                                <td>
                                                    <input type="text" name="picture" value="<%= user.picture %>" />
                                                </td>
                                                <td>
                                                    <input type="text" name="username" value="<%= user.username %>" />
                                                </td>
                                                <td>
                                                    <input type="text" name="role" value="<%= user.role %>" />
                                                </td>
                                                <td>
                                                    <button type="submit" onclick="makePUTrequest('<%= user.id %>')"
                                                        class="btn btn-primary btn-rounded btn-sm my-0">Save</button></span>
                                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                                                        onclick="makeDELETErequest('<%= user.id %>')">Delete</button></span>
                                                </td>
                                            </tr>

                                        </form>


                                        <% }); %>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>

            <script>
                function makeDELETErequest(id) {
                    $.ajax({
                        url: `http://localhost:3000/api/users/${id}`,
                        type: 'DELETE',
                        success: function (result) {
                            if (confirm(result)) {
                                window.location.reload();
                            }
                        },
                    });
                }
            </script>


            <%- include('../partials/footer') %>
